body {
  margin: 0;
  cursor: url(/images/cursor.png), auto;
}

input {
  margin: 0;
  cursor: url(/images/cursor.png), auto;
}

.portal {
  top: -90px;
  position: absolute;
  animation: spin 10s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.card:hover {

  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}




